/*.main {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0;
    width: 125px;
    margin: 0;
    margin-left: 15px;
    height: 100%;
    position: sticky;
    top: 0;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    max-height: 100vh;
    /*left: 0;*/
}
.wd-navigation li {
    padding-left: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.wd-navigation li.wd-active {
    border-left: 2px solid #2d3b45;
}
.wd-navigation li.wd-active a {
    color: #2d3b45;
    font-weight: bold;
}
.wd-navigation a {
    color: #a32424;
    text-decoration: none;
    font-size: 1em;
}